<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Menu - Crocheting Assistant</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/chooseProjectPage.js" defer></script>
    <meta charset="UTF-8">
</head>

<body>
    <section class= "main-section">
        <h1>Your Crocheting Projects</h1>
        <button onclick="startNewProject()">Start New Project</button>
        <h2>Existing Projects</h2>
        <ul id="project-list">
        </ul>
    </section>
</body>

</html>