<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Menu - Crocheting Assistant</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/mainMenuPage.js" defer></script>
    <meta charset="UTF-8">
</head>

<body>
    <section class="main-section">
        <h1>Welcome to Crocheting Assistant!</h1>
        <button onclick="startCrocheting()">Start Crocheting</button>
    </section>
</body>

</html>

<!-- TODO: This page is only visible after logging in. It should have options to start or resume counter project and log out. 
The "logOut" function should redirect to the welcomePage.html page.
It will be the page that shows many different options for example 
Creator of pixel crochet patterns
Menu for counting how much yarn is needed for a project or which crochet hook to use for a project.
Menu with tutorial for beginners. Stitch library.
Menu with crochet pattern creator which allows to download ready pattern to pdf.
Menu with color picker for yarns. You can load photos of yarns and it will determine if colors are matching. -->